/* Variáveis de cores para Dark Mode e Light Mode */
:root {
  /* Dark Mode (padrão) */
  --bg-color: #0d1117;
  --card-color: #161b22;
  --border-color: #30363d;
  --text-color: #c9d1d9;
  --heading-color: #f0f6fc;
  --accent-color: #58a6ff;
  --accent-light: #79c0ff;
}

.light-mode {
  /* Light Mode */
  --bg-color: #ffffff;
  --card-color: #f6f8fa;
  --border-color: #30363d;
  --text-color: #24292f;
  --heading-color: #0d1117;
  --accent-color: #0366d6;
  --accent-light: #0366d6;
}
